.box-skill{ 
    color: white;
    font-size:12px;
    background-color: #bf8f00;
}.box-skill h1{
    font-size: 75px;
}.box-skill .b1{
    float:right;
}.box-skill .b2{
    float:right;
}
.box-skill span{
    font-size:18px;
}
.box-size-login{
    color: white;
    font-size:12px;
    background-color: #334350;
    
}.box-size-login h1{
    font-size: 75px;
}
.box-size-idle{
    color: white;
    font-size:12px;
    background-color: #335034;
}.box-size-idle h1{
    font-size: 75px;
}
.box-size-busy{
    color: white;
    font-size:12px;
    background-color:#503348 ;
}.box-size-busy h1{
    font-size: 75px;
}
.box-size-notr{
    color: white;
    font-size:12px;
    background-color:#3d3350 ;
}.box-size-notr h1{
    font-size: 75px;
}

.box-khi{
    color: white;
    font-size:12px;
    background: #5F3F85 url(../images/karachi.jpg) no-repeat bottom left;
}.box-khi h1{
    font-size: 75px;
}
.ul-row-khi{
    color: white;
    padding: 11px;
    background-color: #5F3F85;
    border: 1px solid #4A316A; 
}
.weather-isb{
    color: white;
    padding: 15px 5px 5px 5px;
    background-color: #4A316A; 
     background-color: #013f71; 
   
}
.weather-lhr{
    color: white;
    padding: 15px 5px 5px 5px;
    background-color: #018972; 
}
.weather-isb .temperature ,.weather-lhr .temperature{
    font-size: 1.6em;
    color: white;
    letter-spacing: -2px;
    margin-top: 10px;
}
.weather-isb .hi, .weather-isb .low,.weather-lhr .hi, .weather-lhr .low {
    width: 50%;
    
    padding-left: 16%;
    font-size: 12px;
    font-weight: 200;
}.weather-isb .hi, .weather-lhr .hi
{
    background: url(../images/hi.png) left 10% center no-repeat;
    float: left;
    text-align: left;
}.weather-isb .low, .weather-lhr .low
{
    background: url(../images/low.png) left 10% center no-repeat;
    float: right;
    text-align: right;
}
.box-lhr{
    color: white;
    font-size:12px;
    background: #01A185 url(../images/lahore.jpg) no-repeat bottom left;
}.box-lhr h1{
    font-size: 75px;
}
.ul-row-lhr{
    color: white;
    padding: 11px;
    background-color: #01A185;
    border: 1px solid #018972; 
}

.box-count{ 
    font-size:25px;
    color: white; 
}

.calls {
    margin-top: 2px;
    background: white;
}
.calls > * {
    height: 100%;
    width: 14.285%;
    float: left;
    text-align: center;
    color: #fff;
    border-right: 1px solid white;
    position: relative;
}

.box-queue{
    padding: 15px;
    background-color: #1FCF6D;; 
    color: white; 
}.box-queue h1{
    font-size: 50px;
}
.box-wait{
/*     padding: 21px; */
	padding: 15px;
    font-size: 14px;
    background-color: #189952; 
    color: white; 
}.box-wait h1{
/*     font-size: 40px; */
    padding-bottom: 4px;
    padding-top: 8px;
    font-size: 40px;

}
.box-landed{
    padding: 15px;
    background-color: #5babe6; 
    color: white; 
}.box-landed h1{
    font-size: 50px;
}
.box-answerd{
    padding: 15px;
    background-color: #1c6899; 
    color: white; 
}.box-answerd h1{
    font-size: 50px;
}
.box-threshold{
/*     padding: 15px; */
	padding-bottom: 13px;
    background-color: #aa66d0; 
    color: white; 
}.box-threshold h1{
/*     font-size: 50px; */
	padding-top: 15px;
    font-size: 50px;
    padding-bottom: 2px;
}
.box-service{
    padding: 15px;
    background-color:#8339a1; 
    color: white; 
}.box-service h1{
    font-size: 50px;
}
.box-abandoned{
    padding: 15px;
    background-color: #ed277f; 
    color: white;
}.box-abandoned h1{
    font-size: 50px;
}

.box-slides{
    margin-top: 2px;
    background: white; 
}
.w-box{
    padding: 5px;
    background-color: #fff;
    height: 210px;
    border-left: black 1px solid;
}
.w-boxTable{
    padding: 5px;
    background-color: #fff;
    height: 210px;
/*     border-left: black 1px solid; */
}
button{
    padding: 5px;
    background-color: rgb(0, 176, 80);
    color: #ffffff;
    border: transparent;
}
.tab2{
    display: none;
}
th{
/* 	  font-weight: normal; */
	font-size:9px;
	position: relative;
		
}
