html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  
  #calendar {
    max-width: 900px;
    margin: 40px auto;
   
}
#h2
{
    margin-bottom:20px; 
}
  
  #circle {
    width: 100px;
    height: 100px;
    
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    border:4px solid #00B6C3;
    float: right;
  }
  .canvasjs-chart-canvas
  {
    width: "150px";
  }
  .k-footer{
    background-color: #00B6C3;
    width:"160px";
    height: 45px;
    
  }
  .k-nav-today
  {
    width: 180px;
    font-size: 84%;
  }
  .k-calendar-view
  {
      height:288px;
  }
  
    
  .card{
        margin: 5PX;
        padding: 5px;
      border-color: rgb(163, 163, 163);
      background-color: rgba(180, 180, 180, 0.2);
      border-radius: 5px;
  }

  .agent-state-text{
      color:white;
      font-weight: bold;
  }
  p {
      font-size: 14px;
  }

  @media (min-width: 992px) {
      .performance-box {

          padding: 5%;
      }
      
  }


  @media (min-width: 500px) {
     
    div#chartContainer {
        height: 100%;
    }


    div#calendar {
        width: 100%;
        height: 100%;
    }
    .dheght{ 
      height: 100%;
      border:2px solid #00B6C3;
      border-radius: 8px;
  }


    div#users>i {
        font-size: 100px;
    }

    h2 {
        font-size: 20px;
    }

    img.agentLogo {
        height: 250px;
    }

    .value-text {
        font-size: 100px;
        color:#00B6C3;
    }

    p {
        font-size: 45px;
    }


    .performance-box {

        padding: 5%;
    }
}
  /**Small**/
  @media (min-width: 768px) {
      div#chartContainer {
          height: 780px;
      }

      div#calendar {
          width: 500px;
          height: 500px;
      }
     
      .dheght{ 
        height: 100%;
        border:2px solid #00B6C3;
        border-radius: 8px;
    }


      div#users>i {
          font-size: 100px;
      }

      h2 {
          font-size: 20px;
      }

      img.agentLogo {
          height: 250px;
      }

      .value-text {
          font-size: 100px;
          color:#00B6C3;
      }

      p {
          font-size: 45px;
      }


      .performance-box {

          padding: 5%;
      }
  }

  /**Medium**/
  @media (min-width: 992px) {

      div#chartContainer {
          height: 680px;
      }

      h2 {
          font-size: 20px;
      }

      img.agentLogo {
          height: 250px;
      }
      

      .value-text {
          font-size: 75px;
          color:#00B6C3;
      }

      p {
          font-size: 35px;
      }
      .dheght{ 
          height: 100%;
        border:2px solid #00B6C3;
        border-radius: 8px;
    }


      .performance-box {

          padding: 5%;
      }
  }

  /**Large**/
  @media (min-width: 1200px) {
      div#chartContainer {
          height: 280px;
          
      }

      div#calendar {
          width: 200px;
          height: unset;
      }

      h2 {

          font-size: large;

      }

      div#users>i {
          font-size: 18px;
      }

      img.agentLogo {
          height: 80px;
      }

      .value-text {
          font-size: 25px;
          color:#00B6C3;
      }

      p {
          font-size: 14px;
      }

      .performance-box {

          padding: 1%;

      }
      .cheght{
          height:180px; 
          border:2px solid #00B6C3;
          border-radius: 8px;
      }
      .dheght{
        height:230px; 
        border:2px solid #00B6C3;
        border-radius: 8px;
    }
      .k-calendar-view{
          margin-bottom:20px;
      }
      .width
      {
          width: 424px;
      }
      .container-fluid{
          padding-right: 20px;
          padding-left: 5px;
      }
  }

  img {
      border-radius: 50%;
      
  }

  * {
      box-sizing: border-box;
  }

  body {
      font-family: Verdana, sans-serif;
      margin: 0
  }

  /* Slideshow container */
  .slideshow-container {
      position: relative;
      background: #f1f1f1f1;
  }

  /* Slides */
  .mySlides {
      display: none;
      padding: 3px;
      text-align: center;
  }

  .top{
    margin-top:10px; 
    
     
  }



  .k-calendar td.k-state-selected .k-link {background-color: #00B6C3;}
  .k-calendar .k-footer .k-nav-today {
    color: #fff;
}